
body { 
    font-family: 'DM Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
 
  margin: 0%;
  padding: 0%;
}
.hotel-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  background-color: white;

}
.hotel-section img{

   width: 500px; 
   height: 700px;
}
@media screen and (max-width: 900px) {
  .hotel-section {
    display: flex;
    flex-direction: column; 
  }
  img{

 display: none;
}
.hotel-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
margin: 20px;

}
.hotel-item{
    margin: 20px;
}
}

.hotel-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  background-color: white;
  margin: 40px;
justify-content: space-around;
}

.hotel-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.hotel-item {
  background-image: url('./assets/fondo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
   color: white;
  width: 180px;
  height: 230px;
  padding: 10px;
  margin: px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.btn {
  background-color:#03A15D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #096023;
}

h1{
color: var(--Dark, #2D2D2F);
text-align: justify;
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0%;
padding: 0%;
}
h2{
color: var(--Black, #000);
text-align: justify;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0%;
padding: 0%;
}
p{
color: var(--Black, #000);
text-align: justify;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 0%;
padding: 0%;
}
#volcano{
 background-image: url('./assets/volcano.png');
}

#jardin{
 background-image: url('./assets/springs.png');
}
#spring{
 background-image: url('./assets/jardin.png');
}
.h3{
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.41);
}
/* Estilos para el footer */
footer {
  background: var(--Dark, #2d2d2f);
  color: white;
  margin: 0%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fotter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  margin: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer li {
  display: inline;
  margin: 0 20px; 
}
ul.icons {
 display: flex;
  flex-direction: row;
  list-style-type: none; 
  padding: 0; 
  justify-content: center;
  align-items: center;/ 
}


.navbar {
background: rgba(255, 255, 255, 0.2); 
backdrop-filter: blur(6px); 
  padding: 10px 0;
   position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-inline-start: 0px;
  display: flex;
  justify-content: space-around;
}

li.nav-item {
  float: left;
}

li.nav-item a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.hidden-checkbox {
  position: absolute;
  left: -9999px;
}
@media screen and (max-width: 768px) {
  .hotel-section{
    padding: 5%;
  }
  p{
   font-size: 2vh; 
  }
}

@media screen and (max-width: 668px) {
  footer {
    padding: 2%;
  }

  .fotter-container {
    flex-direction: column;
    align-items: center;
  }
ul.icons {
  display: flex;
  flex-direction: row;
  list-style-type: none; 
  padding: 0; 
  justify-content: center;
  align-items: center;
}


  .icon {
    margin: 5px; 
  }

  footer li {
    margin: 5px 0; 
}

@media screen and (max-width: 668px) {

 .menu-icon {
            font-size: 24px;
            cursor: pointer;
            color: black;
            display: block; 
        }

        /* Estilos para el menú desplegable */
        ul.navbar {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(9px);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
            top: 0;
            left: 0;
            padding: 10px 0;
        }

        li.nav-item {
            float: none;
        }

        li.nav-item a {
            padding: 10px 0;
        }

        /* Estilo para mostrar el menú cuando el checkbox esté marcado */
        #menu-toggle:checked + label.menu-icon + ul.navbar {
            display: flex;
        }

        .menu-icon {
            margin: 5%;
        }
        input{
          display: none;
        }
     
}
}