/* Estilos para el body */
html{
  margin: 0%;
  padding: 0%;
}
body {
  color: black;
  background-image: url('./assets/fondo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
  padding: 0%;

}

/* Estilos para el footer */
footer {
  background: var(--Dark, #2d2d2f);
  color: white;
  margin: 0%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fotter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  margin: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer li {
  display: inline;
  margin: 0 20px;
}
ul.icons {
 display: flex;
  flex-direction: row;
  list-style-type: none; 
  padding: 0; 
  justify-content: center;
  align-items: center;/ 
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; 
}


.menu-icon {
  font-size: 24px;
  cursor: pointer;
}


.menu-icon {
  font-size: 24px;
  cursor: pointer;
}



.navbar {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(6px); 
  padding: 10px 0;
   position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-inline-start: 0px;
  display: flex;
  justify-content: space-around;
}

li.nav-item {
  float: left;
}

li.nav-item a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}
.hidden-checkbox {
  position: absolute;
  left: -9999px;
}


.main-section {
  fill: rgba(217, 217, 217, 0.20);
  backdrop-filter: blur(5px);
  text-align: start;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 60px;
  color: white;
}

.main-section h1 {
    font-family: Montserrat;
    font-size: 6vw; 
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


.main-section p {
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.secondary-section h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.sustainability {
  font-size: 20px;
  margin: 10px;
  background-image: url('./assets/sui.png');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
   text-decoration: none; 
  color: inherit;
}
a{
   text-decoration: none; 
  color: inherit;
  color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}
.adventure {
  font-size: 20px;
  margin: 10px;
  background-image: url('./assets/adv.png');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.destinations {
  font-size: 20px;
  margin: 10px;
  background-image: url('./assets/dest.png');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.secondary-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
   padding: 6%;
}

.secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(174deg, rgba(150, 167, 77, 0.25) 10.89%, rgba(13, 83, 88, 0.57) 56.94%, #88B7E3 89.34%);
  backdrop-filter: blur(11.5px);
  padding: 6%;

  
}

/* Estilos para la última sección */
.last-section {
  background-image: url('./assets/fondo1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-top: 0%;
  width: 100%;
}

.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.47);
  backdrop-filter: blur(5px);
  color: black;
  margin: 40px;
  padding: 5%;
  max-width: 400px;
  overflow: auto;
}

.third h1 {
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.third p {
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: justify;
}


@media screen and (max-width: 668px) {
  footer {
    padding: 2%;
  }

  .fotter-container {
    flex-direction: column;
    align-items: center;
  }
ul.icons {
  display: flex;
  flex-direction: row;
  list-style-type: none; 
  padding: 0; 
  justify-content: center;
  align-items: center;
}
.secondary-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


  .icon {
    margin: 5px; 
  }

  footer li {
    margin: 5px 0; 
  }
}

@media screen and (max-width: 668px) {
  
 .menu-icon {
            font-size: 24px;
            cursor: pointer;
            color: black;
            display: block; 
        }

        
        ul.navbar {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(9px);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
            top: 0;
            left: 0;
            padding: 10px 0;
        }

        li.nav-item {
            float: none;
        }

        li.nav-item a {
            padding: 10px 0;
        }

        /* Estilo para mostrar el menú cuando el checkbox esté marcado */
        #menu-toggle:checked + label.menu-icon + ul.navbar {
            display: flex;
        }

        .menu-icon {
            margin: 5%;
        }
        input{
          display: none;
        }
     
}
